@page
@using System.Net.Mime
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    int tafelVan = 4;
    var aantallen = Enumerable.Range(1, 10);
}

<div class="text-center">
    <h1 class="display-4">De tafel van @tafelVan</h1>
    @foreach (var aantal in aantallen)
    {
        <text>
            @aantal maal @tafelVan is @(aantal * tafelVan) <br/>
        </text>
    }
</div>
